#div1 {
  padding: 50px;
  margin: 10px;
  background-color: lightblue;
}

#div2 {
  padding: 50px;
  margin: 10px;
  background-repeat: repeat;
  background-image: url("makeitmeme_QYWId.jpeg");
}

#div3 {
  padding: 50px;
  margin: 10px;
  
  
}

#div4 {
  padding: 50px;
  margin: 10px;
  
  
}

#div5 {
  padding: 50px;
  margin: 10px;
  
  
}

#div6 {
  padding: 50px;
  margin: 10px;
  
  
}

#div7 {
  padding: 50px;
  margin: 10px;
  
  
}

#div8 {
  padding: 50px;
  margin: 10px;
  
  
}

#div9 {
  padding: 50px;
  margin: 10px;
  
  
}

#div10 {
  padding: 50px;
  margin: 10px;
  
  
}

#div11 {
  padding: 50px;
  margin: 10px;
  
  
}

#div12 {
  padding: 50px;
  margin: 10px;
  
  
}













